.jobseeker_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.jobseeker_info_box {
    flex: 1;
    margin-right: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills_box,
.education_box,
.experience_box {
    margin-bottom: 20px;
}

.skills_box h4,
.education_box h4,
.experience_box h4 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.skills_box ul,
.education_box ul,
.experience_box ul {
    list-style-type: none;
    padding-left: 0;
}

.skills_box li,
.education_box li,
.experience_box li {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e9ecef;
}

.experience_item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.experience_item ul {
    list-style-type: none;
    padding-left: 0;
}

.experience_item li {
    display: block;
    margin-bottom: 5px;
}

.profile_picture_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile_picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon {
    color: #6c757d;
    font-size: 1.2rem;
    cursor: pointer;
}

.icon:hover {
    color: #495057;
}

.bioText {
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chip {
    background-color: #f1f3f5;
    color: #495057;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.chip:hover {
    background-color: #e9ecef;
    color: #343a40;
}

.educationItem {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.educationItem:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.degree {
    font-size: 0.5rem;
    font-weight: 600;
}

.school {
    font-size: 1rem;
}

.dates {
    color: #6c757d;
    font-size: 0.875rem;
}

.experienceItem {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.experienceItem:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.role {
    font-size: 0.5rem;
    font-weight: 600;
}

.company {
    margin-bottom: 0.25rem;
    font-size: 0.30rem;
}

.dates {
    color: #6c757d;
    font-size: 0.875rem;
}

