.divider_1 {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.change_profile_picture {
	display: flex;
}

.user_info {
	padding: 20px;
}

.company_info {
	padding: 20px;
}

.user_image_box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.company_image_box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user_info_box {
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 25px;
}

.company_info_box {
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 25px;
}

.account_container {
	height: fit-content;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
}

.user_name_box,
.user_email_box,
.user_bio_box,
.user_password_box,
.user_phone_box,
.user_date_joined_box {
	display: flex;
	flex-direction: row;
}

.user_name,
.user_email,
.user_bio,
.user_phone,
.user_date_joined,
.user_password {
	padding: 20px;
	margin: 0px;
}

.delete_account {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.jobseeker_info_box {
	border: 1px solid #ccc;
	display: flex;
	margin: 20px;
	flex-direction: column;
	width: 95%;
	height: 100%;
	padding: 25px;
}

.jobseeker_info_box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.skills_box h4, .education_box h4, .experience_box h4 {
    text-decoration: underline;
    margin-bottom: 20px;
}

.education_item, .experience_item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.education_item ul, .experience_item ul {
    list-style-type: none;
    padding-left: 0;
}

.education_item li, .experience_item li {
    display: block;
    margin-bottom: 5px;
}

.skills_box ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills_box li {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
	.account_container {
		display: inline;
	}
}